app = "constructflow-api"
primary_region = "syd"

[build]
  builder = "heroku/builder:22"

[env]
  NODE_ENV = "production"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[mounts]
  source = "data"
  destination = "/data"
